* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* تنسيقات الهيدر */
header {
    background-color: #e8d9f7;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo h1 {
    font-size: 1.5em;
    color: #4e2c7c;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #4e2c7c;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #9865f7;
}
.services-section {
    text-align: center;
    padding: 50px;
}

.services-section h2 {
    font-size: 36px;
    color: #45225D;
    margin-bottom: 30px;
}

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service {
    background-color: #F4E9FB;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.service h3 {
    font-size: 22px;
    color: #5C3D84;
    margin-bottom: 10px;
}

.service p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}